html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

md-toolbar h1{
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1{
    font-size: 1.250em;
    font-weight: 400;
}

#content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

/* Select Dropdown CSS */

md-input-container.select-dropdown{
    width: 20%;
}


md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, 
md-select-menu md-content md-option:not([disabled]):hover, md-option.select-option:hover {
    background-color: #516073;
    box-shadow: 0 14px 26px -12px rgba(183, 181, 202, 0.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(121, 111, 199, 0.2);
    color: #fff;
    border-radius: 2px;
    margin: 0 2px;
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: rgb(33,150,243);
    background: #eef5f9;
}

md-select-menu[multiple] md-option.md-checkbox-enabled .md-container {
    right: 15px;
    left: auto;
}

/* End Select Dropdown CSS */

/* Data Table CSS */

table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
   background-color: #EEF5F9 !important;  
}

table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
    text-align: center;
}

table.md-table td.md-cell, table.md-table th.md-column {
    color: #607188;
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
    border: 2px solid rgba(165,181,203,.53);
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: #42a5f5;
    border-radius: 3px;
}

table.md-table.md-row-select tbody.md-body > tr.md-row.md-selected {
   background-color: #E8F0FE!important; 
}

table.md-table td.md-cell .edit-icon {
    background: #E8F0FE;
    border: none;
    border-radius: 100%;
    height: 35px;
    margin: 0 6px;
    width: 35px;
    display: inline-block;
    line-height: 3em;
    text-indent: 5px;
    color: #688696;
}

table.md-table td.md-cell .edit-icon .material-icons {
    margin-left: -4px;
    margin-top: 5px;
}

table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover td a.edit-icon {
    background: #688696;
    color: #fff;
}

table.md-table th.md-column .btn.btn-fab {
    position: absolute;
    top: 3px;
    z-index: 10;
    right: 20%;
}
    

/* End Data Table CSS */
